.footer {
    padding: 70px 0;
    text-align: center;
}

.footer__title {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 38px;
    margin-bottom: 32px;
}

.footer__description {
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    max-width: 640px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
